version: "3.9"

services:
  traefik:
    image: traefik:v3.1
    container_name: traefik
    restart: unless-stopped
    command:
      - --api.dashboard=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.lets-encrypt.acme.httpchallenge=true
      - --certificatesresolvers.lets-encrypt.acme.httpchallenge.entrypoint=web
      - --certificatesresolvers.lets-encrypt.acme.email=${TRAEFIK_ACME_EMAIL:-admin@example.com}
      - --certificatesresolvers.lets-encrypt.acme.storage=/letsencrypt/acme.json
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik-letsencrypt:/letsencrypt
    networks:
      - traefik

volumes:
  traefik-letsencrypt:

networks:
  traefik:
    name: ${TRAEFIK_NETWORK:-web}
